#include "Pods/Target Support Files/Pods-DuplicateConfigurationTest/Pods-DuplicateConfigurationTest.hjtest.xcconfig"
#include "base.xcconfig"

hj_ONLY_ACTIVE_ARCH = YES
hj_CFBundleVersion = 2.0.0

baseUrl = @"http:\/\/ly.api_hjtest.cn" //不同环境的server
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) hjconfig=2 BaseUrl='${baseUrl}'

